
*.rar
*.json

training/point results
training/predict_models
training/results

AzurePublicDataset
function/tftest
function/service-0
function/service-1
function/service-2
function/service-3
function/service-4
function/service-5