
*.rar
*.json

training/point results
training/predict_models
training/results

AzurePublicDataset
function/tftest

function/service-0/build
function/service-0/service
function/service-0/template

function/service-1/build
function/service-1/service
function/service-1/template

function/service-2/build
function/service-2/service
function/service-2/template

function/service-3/build
function/service-3/service
function/service-3/template

function/service-4/build
function/service-4/service
function/service-4/template

function/service-5/build
function/service-5/service
function/service-5/template
